/* navbar.css */
.navbar {
    display: flex;
    align-items: center;  /* Vertically align items */
    justify-content: center; /* Horizontally center items */
    padding: 1rem 2rem;
    background-color: #2c3e50;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 2rem; /* Space between logo and buttons */
}

.profile-logo {
    /* Styles for the logo if needed */
}

.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 6rem; /* Space between the buttons themselves */
}


.separator {
    width: 1px;
    height: 20px;
    background-color: #ecf0f1; 
}

.navbar-toggle, .bar {
    display: none;
}

.navbar-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.navbar-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}