.polis-container {
	display: flex;
	flex-direction: column;
}

.polis-embed-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-top: 30vh;
}

.polis-embed-container:not(:first-child) {
	margin-top: 50vh;
}

.polis {
	display: flex;
	justify-content: center;
	transform: scale(1.35);
}
