.polis-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    padding: 20px; /* Consistent padding all around */
    width: 100%; /* Occupy full width of parent */
}

.polis-embed-container {
    display: flex;
    flex-direction: column;
    width: 70%; /* Significantly wider */
    max-width: 800px; /* Set a maximum width so it doesn't get too wide on large screens */
    height: auto;
    margin-top: 2vh; /* Slightly more vertical spacing between boxes */
    padding: 15px;  /* A bit more padding */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}


.polis {
    display: flex;
    justify-content: center; /* Not strictly necessary as parent is already centering */
}


.polis-embed-container:hover {
    transform: translateY(-3px);
}


/* Responsive Adjustments - You might want to adjust these breakpoints based on your design */
@media (max-width: 768px) {
    .polis-embed-container {
        width: 80%; /* Adjust for tablets */
    }
}

@media (max-width: 480px) {
    .polis-embed-container {
        width: 90%; /* Almost full width on small screens */
    }
}